<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dissconected_environtment.Properties.Settings.Act6ConnectionString"
            connectionString="Data Source=DESKTOP-794RG4I\PRIMA06;Initial Catalog=Act6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>